<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Node bus - Blogging</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

 <link rel="stylesheet" href="/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- 
<nav class="navbar navbar-default nav1">
  <div>

 

<div class="search-div nav navbar-nav navbar-center">
    <input type="search" name="serch-user" id="search-user" placeholder=" Search"  >
    <i class="fa fa-search" ></i>
 </div>
 


  
  </div>
</nav> -->


<!-- <nav class="navbar navbar-default ">
 <div>
    <ul class="mybar nav navbar-nav navbar-default ">
  
       <li id="home"><a href="/home"><i class="fab fa-safari fa-1x"> home</i></a></li>
       <li id="about"><a href="/chat"><i class="fas fa-comments fa-1x"> chat</i></a></li>
       <li id="compose"><a href="/compose"><i class="far fa-plus-square fa-1x"> post</i></a></li>
       <li id="compose"><a href="/search"><i class="fa fa-search fa-1x" ></i> Search</i></a></li>
     </ul>
  </div>

  <div class="dropdown nav navbar-nav  ">
    <button class="dropbtn"><i class="fas fa-user-secret fa-2x"></i></button>
    <div class="dropdown-content">
      <a href="/profile"><i class="fas fa-house-user"></i>-Profile</a>
      <a href="/settings"><i class="fas fa-cog"></i>-Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </div> -->
<header
  <div class="navbar">
    <div class="logo"><a href="/">Node bus</a></div>
    <ul class="links">
      <li id="home"><a href="/home"><i class="fab fa-safari fa-1x"> home</i></a></li>
      <li id="about"><a href="/chat"><i class="fas fa-comments fa-1x"> chat</i></a></li>
      <li id="compose"><a href="/compose"><i class="far fa-plus-square fa-1x"> post</i></a></li>
      <li><a href="/search"><i class="fa fa-search fa-1x"></i> Search</i></a></li>

    </ul>
   <%if(!username){%>
    <a href="/register" class="action_btn">Get Started</a>
    <%}else{%>
    <a href="/logout" class="action_btn">Logout</a>
    <%}%>
  </div>

<div class="dropdown_menu">
  
  <li id="home"><a href="/home"><i class="fab fa-safari fa-1x"> home</i></a></li>
  <li id="about"><a href="/chat"><i class="fas fa-comments fa-1x"> chat</i></a></li>
  <li id="compose"><a href="/compose"><i class="far fa-plus-square fa-1x"> post</i></a></li>
  <li id="compose"><a href="/search"><i class="fa fa-search fa-1x"></i> Search</i></a></li>
  <%if(!username){%>
  <li><a href="/register" class="action_btn">Get Started</a></li>
      <%}else{%>
 <li> <a href="/logout" class="action_btn">Logout</a></div></li>
    <%}%>
</div>

<div class="toggle_btn">
  <i class="fa-solid fa-bars fa-1x"></i>
</div>

</header>


<script>
  const toggleBtn = document.querySelector('.toggle_btn');
  const toggleBtnIcon = document.querySelector('.toggle_btn i');
  const dropDownMenu = document.querySelector('.dropdown_menu');
  
  toggleBtn.onclick = function (){
    
      dropDownMenu.classList.toggle('open');
      const isOpen = dropDownMenu.classList.contains('open');
      
      toggleBtnIcon.classList = isOpen  ? 'fa-solid fa-xmark' : 'fa-solid fa-bars';
    
    }

</script>