<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Node bus - Blogging</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
 <script src="https://kit.fontawesome.com/ae641f6c5e.js" crossorigin="anonymous"></script>

 <link rel="stylesheet" href="/css/stylesMain.css">




<nav class="navbar navbar-default nav1">
  <div>

 

<div class="search-div nav navbar-nav navbar-center">
    <input type="search" name="serch-user" id="search-user" placeholder=" Search"  >
    <i class="fa fa-search" ></i>
 </div>
 


  
  </div>
</nav>


<nav class="navbar navbar-default nav2">
 <div>
    <ul class="nav navbar-nav navbar-default mybar">
  
       <li id="home"><a href="/"><i class="fab fa-safari fa-1x"> home</i></a></li>
       <li id="about"><a href="/chat"><i class="fas fa-comments fa-1x"> chat</i></a></li>
       <li id="compose"><a href="/compose"><i class="far fa-plus-square fa-1x"> post</i></a></li>
     </ul>
  </div>
 
 <div class="dropdown nav navbar-nav  ">
   <button class="dropbtn"><i class="fas fa-user-secret fa-2x"></i></button>
   <div class="dropdown-content">
     <a href="/profile"><i class="fas fa-house-user"></i>-Profile</a>
     <a href="/settings"><i class="fas fa-cog"></i>-Settings</a>
     <a href="/login" class=logout>Login</a>
  </div>

 </div>

</nav>


