 <%- include partials/header.ejs %>


 <body>
  




    <div class="container">
      
    <div class="row home-wrap">
        <div class="col-sm-4 right-trend">
 
          

        <% users.forEach(function(user) { %>
            <div  class="post ">
               <h2 style="color: black;"> <%= user.username%></h2> 
            </div>
          <br>
            <% }) %> 
         
            
                  
   
         </div>
       <div class="col-sm-8 left-post">

 
        <h1 >Chat</h1>

       </div>
      
     </div>
</div>
<%- include partials/footer.ejs %>