 <%- include partials/header.ejs %>
<h1>Chat</h1>

<div class="row">
    <div class="col-sm-8 left-post">
     hellooooooo chats
    </div>
    <div class="col-sm-4 right-trend">
       <h2>friends...</h2>
     hellowwww


<%- include partials/footer.ejs %>