<%- include partials/header.ejs %>
<h1>Compose</h1>

<form action="/compose" method="POST">
  <div class="form-group composepost">
  <h4>Title</h4>
  <input class="form-control" type="text" name="postTitle">
  <br>
  <h4>Post</h4>
<textarea class="form-control" name="postBody"  cols="80" rows="5"></textarea>
</div>
<br>
<button type="submit" name="button" class="btn btn-primary">PUBLISH</button>
</form>

<%- include partials/footer.ejs %>
 