<%- include partials/header.ejs %>

<body>
  <div class="container" style="padding-top: 5vh;">
    



      
  <div class="row home-wrap">
      <div class="col-sm-12 compose-style">

        <h1 class="post" style="padding:10px;;">Compose++</h1>

<form action="/compose" method="POST" style="padding-top: 10px;">
  <div class="form-group composepost">
  <h4>Title</h4>
  <input class="form-control" type="text" name="postTitle" required/>
  <br>
  <h4>PostCard</h4>
<textarea class="form-control" name="postBody"  cols="80" rows="5" required/></textarea>
</div>
<br>
<button type="submit" name="button" class="btn btn-primary">PUBLISH</button>
</form>

          
                
 
       </div>
     
    
   </div>
</div>
<%- include partials/footer.ejs %>
 