<%- include partials/header -%>
<script src="https://kit.fontawesome.com/ae641f6c5e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/login-form.css">

<body>










  
  <div class="container">
    



    

  
        <!-- <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
         </div> -->
         <form action="/login" method="POST" id="form">
            <h3>Login Here</h3>
    
     <label for="username">Username</label>
     <input type="text" placeholder="Email or Phone" id="username" name="username" required>
    
    <label for="password">Password</label>
     <input type="password" placeholder="Password" id="password" name="password" required>
     <button type="submit" class="loginPage-btn">Log In</button>
     <div class="social">
        <a href="/auth/google"><div class="go"><i class="fab fa-google"></i>  Google</div></a>
        <a href="/register"><div class="fb">Create Account</div></a>

      </div>
        </form>


</div>
<script>
//   const form = document.getElementById("form");

// form.addEventListener("mousemove", (e) => {
//   let xAxis = (window.innerWidth / 20 - e.pageX) / 100;
//   let yAxis = (window.innerHeight / 20 - e.pageY) / 100;
//   form.style.transform = `rotateY(${xAxis}deg) rotateX(${yAxis}deg)`;

// })
</script>
<%- include('partials/footer') %>
