<%- include partials/header -%>
<div class="post-page">
    <h1><%= title %> </h1>
    <p><%= content %></p>
</div>

<div class="comment-bar">
    <div class="like-bar">
        <span><i class="far fa-heart fa-2x"></i></span>
        <span><i class="far fa-eye fa-2x"></i></span>
        <span><i class="fas fa-share-square fa-2x"></i></span>
        <span><i class="far fa-bookmark fa-2x"></i></span>
    </div>
    <input type="text" name="post-comment" id="post-comment" placeholder="comment bar :)">
</div>
</div>


<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with â¤ï¸ by ğ–“ğ–”ğ–‰ğ–Š ğ–‡ğ–šğ–˜ team</p>
  </div>
</div>
<%- include partials/footer -%>
