<%- include partials/header -%>
<div class="post-page">
    <h1><%= title %> </h1>
    <p><%= content %></p>
</div>
<div class="like-bar">
    like , seen , share & save bar
</div>
<div class="comment-bar">
    <input type="text" name="post-comment" id="post-comment" placeholder="comment bar :)">

</div>

<%- include partials/footer -%>
