<%- include partials/header -%>
<body>
	<div class="container">

		<h1><%=username%></h1>
		
	</div>


	<div class="footer-padding"></div>
	<div class="footer">
		<p>Made with â¤ï¸ by ğ–“ğ–”ğ–‰ğ–Š ğ–‡ğ–šğ–˜ team</p>
	</div>
	</div>
	<%- include partials/footer -%>