<%- include partials/header.ejs %>
      <body>
        <div class="container">  
<h1>Profile</h1>
<div>
    <table>
        <tr>
            <th>User Id</th>
            
          </tr>
          <tr>
            <td class="secret-text"><%=username%></td>
          
          </tr>
    </table>
</div>

	</div>
</body>



<%- include partials/footer.ejs %>