<%- include partials/header.ejs %>
      <body>
        <div class="container">  
<h1>Profile</h1>
<div>
    <table>
        <tr>
            <th>User Id</th>
            <th>Contact</th>
            <th>Country</th>
          </tr>
          <tr>
            <td class="secret-text"><%=username%></td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
    </table>
</div>
<%- include partials/footer.ejs %>