
<%- include('partials/header') %>

       
<script src="https://kit.fontawesome.com/ae641f6c5e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/login-form.css">


<body>
  <div class="container">
    <!-- <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
   </div> -->

    <form action="/register" method="POST" id="form-register" style="height:600px;">
      <h4><a href="/login" class="login-link"> <-- Login</a></h4>
      <h3>Create Your Account</h3>

<label for="username">Email</label>
<input type="text" placeholder="Email" id="username" name="email" required>

<label for="username">Username</label>
<input type="text" placeholder="username" id="username" name="username" required>

<label for="password">Password</label>
<input type="password" placeholder="Password" id="password" name="password"  required>
<button type="submit" class="loginPage-btn">Create Your Account</button>

  </form>


</div>

<%- include('partials/footer') %>
