<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/response.css">
</head>
<body>
    <div class="res_message">
        <h4>Your response has been sent <span style="color: rgb(255, 255, 255);">Successfully</span></h4>
        <h1>Wait.. <span><h3>for the Approval</h3></span></h1>
    </div>
</body>
</html>