<%- include('partials/header') %>

<body>
  <div class="container">
   
   

<div class="jumbotron center-div">
 
  <div class="container">
    <i class="fas fa-search fa-6x"></i>
    <div class="line">
      <div class="loader">
        <div class="loader__element"></div>
      </div>
    </div>
    <blockquote style="font-size:xx-large">"The alchemists in their search for gold discovered many other things of greater value."</blockquote>



      <form action="/search" method="post" class="searchForm" autocomplete="off">
            <div class="search-bar">
<input type="text" name="search" id="search" onkeyup="getSearchSuggestions()" placeholder="Search..">

<button type="submit" id="search_btn_main"><i class="fas fa-search fa-1x"></i></button> 
            </div>
      </form>
  
    
  </div>
  <div id="searchSuggestions"></div>
 </div>
</div>
<script>
  // function getSearchSuggestions() {
  //     const searchInput = document.getElementById('search').value;
  //     const searchSuggestionsDiv = document.getElementById('searchSuggestions');

  //     // Clear previous suggestions
  //     searchSuggestionsDiv.innerHTML = '';

  //     // Send an AJAX request to the server
  //     if (searchInput.length > 0) {
  //       fetch('/search/suggestions', {
  //         method: 'POST',
  //         headers: {
  //           'Content-Type': 'application/json',
  //         },
  //         body: JSON.stringify({ search: searchInput }),
  //       })
  //         .then(response => response.json())
  //         .then(data => {
  //           // Display the search suggestions
  //           data.forEach(suggestion => {
  //             const suggestionElement = document.createElement('p');
  //             suggestionElement.textContent = suggestion;
  //             searchSuggestionsDiv.appendChild(suggestionElement);
  //           });
  //         })
  //         .catch(error => console.error(error));
  //     }
  //   }


</script>

<%- include('partials/footer') %>
