
  .heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
   
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    padding: 10px;
    width: auto;
    
    float: right;
  }

  .header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #81ecec;
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
  }
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  .card img {
    margin: 30px 20px 0 0;
  }
  
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }
  
  .bottom {
    margin-top: 120px;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  
  .info {
    margin: 20px 0;
    color: #1a7e76;
  }
  