/* header----------------------------------------------------------------------------------------------- */
.profile_pic{
  height: 40px;
  margin-top: 5px;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
body{
  background-color: #333333;
}
.div-abt {
  margin:15px;
}

a:visited {
  color: pink;
}
a:hover{
  color:plum;
}
.navbar {
    padding-top: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    border-bottom: 1px solid rgb(97, 97, 97);
    background-color:#333333;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
    border-bottom:coral 2px solid;
    
}

.footer-padding {
	padding-bottom: 60px;
}
.navbar-default .navbar-nav li a {
color:skyblue;
}
.navbar-header{
  position: absolute;
  left:0;
  width:90px;
  top:0;

}

.footer {
	position: static;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #355e5e;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
a{
 background-color:  #333333;
}


/* transfered from SECRETS ------------------------------------------------------------------------------------ */
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
#search-user{
  text-align: left;
  padding: 3px;
  position: absolute;
  top: 27px;
  left: 200px;
  height: 40px;
  width: 350px;
  /* font-family: FontAwesome; */
  font-size: 19px;
  background-color: rgb(255, 248, 248);
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
#search-user:hover{
  width: 500px;
transition:linear 0.7s;
}

.search-div{
  align-items: center;
}
.dropbtn {
      
      background-color: #949494;
      color: white;
      padding: 16 px;
      border-block: inherit;
      border: none;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      

}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top:13px;
  left:38%;
  top:-9px;
  background-color: #333333;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #020202;}

.logout{
  border-top:black;
  border-style: double none none none;
}
.node-bus{
  color:black;
}
.post , .post-page{

  border: 1px solid #858585;
 border-radius:10px;

 
}
.post p,h2{
  color:rgb(100, 100, 100);
  padding-left: 10px;
}
.post-page p,h1{
  color:black;
  padding-left: 20px;
}
.left-post{
  background-color: #333333;
  float: left;
  max-width: 65%;
  width: 65%;
    overflow-x: scroll;
    overflow-y: scroll; 
    overflow: scroll;
    height: 100vh;
} 
.compose-style{
  
  border-right:2px solid grey;
  float: left;
  max-width: 100%;
  width: 100%;
    overflow-x: scroll;
    overflow-y: scroll; 
    background: #EFF0F1;
    overflow: scroll;
    height: 75vh;
}
.right-trend{
  border-right:2px solid grey;
  float: left;
  max-width: 35%;
  width: 35%;
    overflow-x: scroll;
    overflow-y: scroll; 
    background: #EFF0F1;
    overflow: scroll;
    height: 100vh;
}
.home-wrap{
  display:flex;
}
.navbar-brand span{
  position: absolute;
  padding:10px;
  
}
.like-bar{
  padding-bottom: 10px;
}
.like-bar span{
  padding:5px;
}
.comment-bar{
  border-bottom: 6px solid red;
  background-color: lightgrey;
}
.left-chat{
  border-right:2px solid grey;
  border-left:2px solid grey;
  height: 100vh;
}
.center-chat{
  border-right:2px solid grey;
  height: 100vh;
}
.right-chat{
  border-right:2px solid grey;
  height: 100vh;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #020202;}

.logout{
  border-top:black;
  border-style: double none none none;
}
.node-bus{
  color:black;
}
.post , .post-page{
 background-color: #333333;
 border-radius:10px;
 color:white;
}
.post p,h2{
  color:white;
  padding-left: 10px;
}

.post-page p,h1{
  color:white;
  padding-left: 20px;
}

.navbar-brand span{
  position: absolute;
  padding:10px;
  
}
.like-bar{
  padding-bottom: 10px;
}
.like-bar span{
  padding:5px;
}
.comment-bar{
  border-bottom: 6px solid red;
  background-color: lightgrey;
}
.left-chat{
  border-right:2px solid grey;
  border-left:2px solid grey;
  height: 100vh;
}
.center-chat{
  border-right:2px solid grey;
  height: 100vh;
}
.right-chat{
  border-right:2px solid grey;
  height: 100vh;
}
.post-img {
width:20%;
}
.post-img>img{

  
width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding:10px;


}
.post-content{
  width:80%;
}
.flex{
  display: flex;
  flex-wrap: nowrap;
}
.postowner{
  margin: 10px;
}
.mybar:hover{
background-color: black;
border:#858585;

}

.mybar{
  margin-left: 200px;
}

.brand-img{
  z-index: 2;
  position:absolute;
}
.nav1{
  margin-bottom: 10px;
  border:none;
}
.nav2{
  margin-top:40px;
}
.search-logo{
  color:skyblue;


  position: absolute;
  top: 27px;
  left: 158px;
  height: 37px;
  width: 550px;
  font-family: FontAwesome;

  background-color: #3333;
  color: white;


}
.search-logo>i{
  border-left:#7c7c7c solid 3px;
  border-top:#7c7c7c solid 3px;
  border-bottom:#7c7c7c solid 3px;
  border-radius:50%;
padding:3px;
}

pre{
  overflow-x: hidden ;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; 
  background-color: #333333;
  color:white;
  border:none;
}