/* header---------------------------------------------------------------------------------------------------- */
.profile_pic{
  height: 40px;
  margin-top: 5px;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

/* transfered from SECRETS ------------------------------------------------------------------------------------ */
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
#search-user{
  
  text-align: left;
  font-size: 11px;
  padding: 3px;
  position: absolute;
  top: 27px;
  left: 591px;
  height: 28px;
  width: 229px;
 

}
.search-div{
  align-items: center;
}
.dropbtn {
      
      background-color: #949494;
      color: white;
      padding: 16 px;
      border-block: inherit;
      border: none;
      
      border-radius: 50%;
      

}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top:13px;
  left:250px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #020202;}

.logout{
  border-top:black;
  border-style: double none none none;
}