<%- include('partials/header') %>

<body>
  <div class="container">
   
   

<div class="jumbotron text-center">
 
  <div class="container">
    <i class="fas fa-search fa-6x"></i>
    <div class="line">
      <div class="loader">
        <div class="loader__element"></div>
      </div>
    </div id="demo">
    <blockquote style="font-size:xx-large">"The alchemists in their search for gold discovered many other things of greater value."</blockquote>



      <form action="/search" method="post" class="searchForm" autocomplete="off">
        
            <input type="text" name="search" id="search" placeholder="Search.." >
            <button type="submit" onclick="loadDoc()"><i class="fas fa-search fa-1x"></i></button>

         
      </form>
      <script async src="https://cse.google.com/cse.js?cx=311342b7e7ecf16a8"></script>
      <div class="gcse-search" id="search"></div>
      <!-- to read >> -->
      <!-- https://support.google.com/programmable-search/answer/4513886?hl=en&visit_id=637893688278295848-761075327&rd=1#zippy=%2Cmore-on-url-patterns -->
  </div>
</div>
<script>

function loadDoc() {
  const xhttp = new XMLHttpRequest();
  let responseText = "hello world";
  xhttp.onload = function() {
    document.getElementById("demo").innerHTML = this.responseText;
    }
  // xhttp.open("GET", "ajax_info.txt", true);
  // xhttp.send();
}ˇ
</script>
<%- include('partials/footer') %>
