<%- include('partials/header') %>

<body>
  <div class="container">
    

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-blog fa-6x"></i>
    <h1 class="display-3">
      Share your words with the world..!</h1>
      <h2 >welcome <a href="/"><%=username%></a></h2>
    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.title%></p>

       
    <% }) %>



    <hr>
    <a class="btn btn-danger btn-lg" href="/logout" role="button">Log Out</a>
    
  </div>
</div>

<%- include('partials/footer') %>
