*{
    box-sizing: border-box;
  }
  
  body{
    background:#92bde7;
    color:#485e74;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }

  .res_message {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }